# --------------------------------------------------------------------------
#	author			Hossein Mohammadi Maklavani
#	copyright		Copyright (C) 2014 - 2016 Digarsoo. All rights reserved.
#	creation date	03/28/2015
#	last edit		12/22/2015
# --------------------------------------------------------------------------

php_flag display_startup_errors off

ServerSignature Off
Options +FollowSymLinks
Options -Indexes

RewriteEngine On
AddDefaultCharset utf-8

RewriteRule ^download\/(.*)$ ./index.php?file=$1
RewriteRule ^ajax\/(.*)$ ./index.php?ajax=$1 [QSA]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ ./index.php?checkurl=$1 [QSA]

RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* ? [F,L]

# RewriteCond %{HTTP_HOST} ^XXX\.XXX\.XXX\.XXX
# RewriteRule (.*) http://www.yourdomain.com/$1 [R=301,L]

# RewriteCond %{HTTP_HOST} ^www\.example\.com$
# RewriteRule ^/?$ "http\:\/\/example\.com\/" [R=301,L]