@font-face {
	font-family: 'Neirizi';
	font-style: normal;
	font-weight: 400;
	src:	url(../../fonts/neirizi.woff2) format('woff2'), 
			url(../../fonts/neirizi.woff) format('woff');
}

body { font-family: 'Neirizi' , Arial , Sans-serif; }