@font-face {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	src:	local('Poiret One'), 
			url(../../../../media/fonts/poiret_one.woff2) format('woff2'), 
			url(../../../../media/fonts/poiret_one.woff) format('woff');
}

.date
{
	width: 240px;
	height: 110px;
	font-family: 'Poiret One';
	overflow: hidden;
	background-color: #fff;
}

.date-item
{
	display: inline-block;
	width: 80px;
	height: 80px;
	float: left;
	text-align: center;
}

.date-btn
{
	display: inline-block;
	width: 100%;
	float: left;
	line-height: 30px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.date-btn:before
{
	display: inline-block;
	color: #555;
}

.date-btn:hover
{
	cursor: pointer;
	font-size: 1.5em;
	color: #111;
}

.date-btn.hidding , .date-btn.hidding:hover
{
	cursor: default;
	font-size: 1em;
}

.date-btn.hidding:before { color: #ddd; }

.date-item-in
{
	display: inline-block;
	width: 100%;
	height: 50px;
	float: left;
	position: relative;
	line-height: 50px;
	overflow: hidden;
}

.date-item-all
{
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.date-item-clk
{
	display: inline-block;
	width: 100%;
	line-height: 50px;
}