.menu_select ul li
{
	font-size: 10px;
	line-height: 25px;
	list-style-type: none;
	background-color: rgba(0 , 0 , 0 , 0.015);
}

.menu_select .parent.showing ul { display: block; }
.menu_select .parent ul { display: none; }

.select_checkbox
{
	display: inline-block;
	margin: 0px 5px;
	position: relative;
	top: 3px;
}

.select_button
{
	display: inline-block;
	padding: 0px 5px;
}